.DrumMachineContainer{
  align-self: center;
  width:auto;
  height:auto;
  background: linear-gradient(to bottom, #3b3b3b 5%, #000000 100%);
  padding: 25px;
  align-items: center;
  display: -webkit-flex;
  flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  justify-content: space-around;


}
