.DrumMachineContainer{
  align-self: center;
  width:1500px;
  height:auto;
  border: 5px solid green;
  padding: 25px;
  align-items: center;
  display: -webkit-flex;
  flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  justify-content: space-around;


}
