body {

}

.DrumMachineContainer{
  align-self: center;
  width:auto;
  height:auto;
  background: #1f1f1f;
  padding: 20px;
  border: 5px solid #1c1c1c
}

.controls{
  position: fixed;
  left:auto;
  right:auto;
  top:0;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-top: 8px;
  margin-top: 0px;
  width:auto;
  list-style:none;
  background-color: grey;
  border: 2px solid black;
  border-radius: 0px 0px 10px 10px;
}

.control-elements{
  margin-top: 15px;
  margin-bottom: 0px;
  padding-left: 0px
}

.dropdown{
  overflow: hidden;
}

.drop-button{
  width: 50px;
  height: 50px;
  margin-left: 80px;
  margin-right: 15px
}

.drop-content{
  display: none;
  margin-right: 50px
}

.dropdown:hover .drop-content {
  display: block;
}

.drum-pads{
  display:block;
  padding: 10px;
  margin-top: 70px;
  z-index: 0;
}

.instructions{
  color: white;
  position:relative;
  right: 1300px;
  top: 20px;
  left: 20px;
}

.logo {
  width: auto;
  height: 50px;
  margin-left: 10px;
  margin-right: 25px
}
