.eql {
  align-items: baseline;
}

audio:hover, audio:focus, audio:active {
-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
-webkit-transform: scale(1.05);
-moz-transform: scale(1.05);
transform: scale(1.05);
}

audio {
  width: 150px;
-webkit-transition:all 0.5s linear;
-moz-transition:all 0.5s linear;
-o-transition:all 0.5s linear;
transition:all 0.5s linear;
-moz-box-shadow: 2px 2px 4px 0px #006773;
-webkit-box-shadow:  2px 2px 4px 0px #006773;
box-shadow: 2px 2px 4px 0px #006773;
-moz-border-radius:7px 7px 7px 7px ;
-webkit-border-radius:7px 7px 7px 7px ;
border-radius:7px 7px 7px 7px ;
}

.accordion {
    box-sizing: border-box;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    width: 100%;
}

.accordion-select {
    cursor: pointer;
    margin: 0;
    opacity: 0;
    z-index: 1;
}

.accordion-title {
    position: relative;
}

.accordion-title:not(:nth-last-child(2))::after {
    border: 1px solid transparent;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.accordion-title span {
    bottom: 0px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    white-space: nowrap;
    width: 100%;
}

.accordion-content {
    box-sizing: border-box;
    overflow: auto;
    position: relative;
    transition: margin 0.3s ease 0.1s;
}

.accordion-select:checked + .accordion-title + .accordion-content {
    margin-bottom: 0;
    margin-right: 0;
}

/* Generated styles starts here */

.accordion {
    border-color: #dedede;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    flex-direction: column;
    height: auto;
}

.accordion-title,
.accordion-select  {
    background-color: dark grey;
    color: #7f8787;
    width: 100%;
    height: 31px;
    font-size: 14px;
}

.accordion-select {
    margin-bottom: -31px;
    margin-right: -31px;
}

.accordion-title:not(:nth-last-child(2))::after {
    border-bottom-color: #eaeaea;
    border-right-color: transparent;
}

.accordion-select:hover + .accordion-title,
.accordion-select:checked + .accordion-title {
    background-color: #ffffff;
}

 .accordion-title span  {
    transform: rotate(0deg);
    -ms-writing-mode: lr-tb;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
    padding-left: 16px;
    padding-right: 16px;
    line-height: 31px;
}

.accordion-content {
    background-color: dark grey;
    color: #7f8787;
    height: 200px;
    margin-bottom: -200px;
    margin-right: 0;
    padding: 30px;
    width: 100%;
}
