.DrumPadButton {
	box-shadow:inset 0px -9px 9px 0px steelblue;
	background:linear-gradient(to bottom, lightsteelblue 5%, steelblue 100%);
	background-color:#57a3ff;
	border-radius:10px;
	border:2px solid lightsteelblue;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:9px;
	font-weight: bold;
	padding:5px;
  margin-bottom: 10px;
	text-decoration:none;
	text-shadow:0px 0px 0px #54596b;
  width: 75px;
  height: 45px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.DrumPadButton:hover {
	background:linear-gradient(to bottom, steelblue 5%, lightsteelblue 100%);
	background-color:#1a32ba;
}
.DrumPadButton:active {
	position:relative;
	top:1px;
}

.StartButton {
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
	margin-right: 10px;
}
/* .StartButton:hover {
	background:linear-gradient(to bottom, #1a32ba 5%, #57a3ff 100%);
	background-color:#1a32ba;
}
.StartButton:active {
	position:relative;
	top:1px;
} */

.SaveAllButton{
	width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
	margin-left: 10px;
}

.bpm {
	box-shadow:inset 0px -9px 9px 0px steelblue;
	background:linear-gradient(to bottom, lightsteelblue 5%, steelblue 100%);
	background-color:#57a3ff;
	border-radius:10px;
	border:2px solid black;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:20px;
	padding:5px;
  margin-top: auto;
  margin-bottom: 15px;
	text-decoration:none;
	text-shadow:0px 0px 0px #54596b;
  width: 200px;
  height: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slider {
	
}
.drum-channel{
display: flex;

}
