.sequencer{
  display: grid;
  grid-template-columns: 32px 32px 32px 32px 32px 32px 32px 40px 32px 32px 32px 32px 32px 32px 32px 45px 35px 55px;
  padding: 10px;
}

/* .show-sequencer{
  display: block
}

.hide-sequencer{
  display: none
} */

.button-off {
	box-shadow:inset 0px -9px 9px 0px grey;
	background:linear-gradient(to bottom, grey 3%, white 100%);
	background-color:white;
	border-radius:10px;
	border:3px solid grey;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:15px;
	padding:12px;
	text-decoration:none;
	text-shadow:0px 0px 0px #54596b;
  width: 5px;
  height:20px;
  text-align: center;
  align-content: center;
  margin-right: 2px;
  margin-bottom: 0px;
  text-align: center;
}
.button-off:hover {
	background:linear-gradient(to bottom, orange 5%, red 100%);
	background-color:#73b2ff;
}
.button-off:active {
	position:relative;
	top:1px;
}

.button-on {
	box-shadow:inset 0px -9px 9px 0px orange;
	background:linear-gradient(to bottom, orange 5%, red 100%);
	background-color:#57a3ff;
	border-radius:10px;
	border:3px solid orange;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:12px;
	text-decoration:none;
	text-shadow:0px 0px 0px #54596b;
  width: 5px;
  height: 20px;
  text-align: center;
  align-content: center;
  margin-right: 2px;
  margin-bottom: 2px;
  text-align: center;
}
.button-on:hover {
	/* background:linear-gradient(to bottom, grey 3%, white 100%);
	background-color:#1a32ba; */
}
.button-on:active {
	position:relative;
	top:1px;
}

.clear-button {
  box-shadow:inset 0px -9px 9px 0px #c85f5f;
	background:linear-gradient(to bottom, #c85f5f 5%, #c85f5f 100%);
	background-color:#57a3ff;
	border-radius:10px;
	border:2px solid red;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	padding:auto;
	text-decoration:none;
	text-shadow:0px 0px 0px #54596b;
  margin-left: 2px;
  margin-top: 0px;
  width: 50px;
  height:30px;
}

.clear-button:hover {
	background:linear-gradient(to bottom, red 5%, red 100%);
	background-color:red;
}

.clear-button:active {
	position:relative;
	top:1px;
}
.save-icon, .clear-icon{
  height: 30px;
  width: 30px;
}
